{% extends 'base.html'%} {% block head %}
<style>
  .base-container {
    margin: 80px;
    margin-top: 20px;
  }
</style>
{% endblock %} {% block heading %} {% endblock %} {% block content %}
<div class="base-container">
  <form action="{{url_for('create')}}" method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="title"
        placeholder="Title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Content</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        name="content"
        rows="10"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</div>
{% endblock %}
