{% extends 'base.html'%} {% block head %}
<style>
  .base-container {
    margin: 80px;
    margin-top: 20px;
  }
</style>
{% endblock %} {% block heading %} {% endblock %} {% block content %}
<div class="base-container">
  <form action="{{url_for('edit', _id=article.id)}}" method="post">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input
        class="form-control"
        type="text"
        name="title"
        value="{{ request.form.get('title') or article.title }}"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Content</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        name="content"
        rows="15"
      >
{{ request.form.get('content') or article.content }}</textarea
      >
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endblock %}
