{% extends 'base.html' %} {% block head %}
<style>
  .content-section {
    background: #f8efef;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin: 10px 20px;
  }
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #c0394e;
    text-decoration: none;
  }
</style>
{% endblock %} {% block heading %}
<script
  src="https://kit.fontawesome.com/f0f88b9eef.js"
  crossorigin="anonymous"
></script>
{% endblock %} {% block content %} {% for article in articles %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h2>
        <a
          class="article-title"
          href="{{url_for('single_blog', _id=article.id)}}"
          >{{article.title}}</a
        >
      </h2>
    </div>

    <p class="article-content">
      {{article.author}}
      <span class="mr-3"
        ><small>{{article.date_created.strftime('%H:%M:%S')}}</small></span
      >
    </p>
  </div>
</article>
{% endfor %} {% endblock %}
